//VARIABLES
//COLORS
$color-white: #ffffff;
$color-black: #111111;
$color-navy: #001f3f;
$color-gray:#aaaaaa;
$color-silver: #dddddd;
$color-dark-gray: #333333;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

//FONTS
